<!-- NEWS -->


      <div class="col-md-4 col-sm-6"   *ngFor="let doctor of listmemespecialite |  slice:0:3; let i= index">
        <!-- NEWS THUMB -->

        <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s" (click)="redirect();" [routerLink]="['/doctor-details', doctor.id]">
          <div class="news-info">
            <h3><a [routerLink]="['/doctor-details', doctor.id]">{{doctor.name}}</a></h3>
            <p>{{doctor.address.city}}</p>
            <div class="author">
              <img src="assets/images/{{doctor.picture}}" class="img-responsive" alt="">
              <div class="author-info">
                <h5>{{doctor.phone}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>



