<section id="appointment" data-stellar-background-ratio="1">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12">


        <!-- CONTACT FORM HERE -->
        <form id="appointment-form" >

          <!-- SECTION TITLE -->
          <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Recover Your Password </h2>
          </div>

          <div class="wow fadeInUp" data-wow-delay="0.4s">

            <div class="col-md-6 col-sm-6" *ngIf="this.show!=1" >
              <label >CODE(Sent To Your Email)</label>
              <input type="text" name="time" value="" class="form-control" (keyup)="checkcode()" [(ngModel)]="codeinput" placeholder="code" required>
            </div>
            <div class="col-md-6 col-sm-6" *ngIf="this.show==1"  >
              <label>New Password </label>
              <input type="password" name="time" value="" class="form-control" placeholder="new password" [(ngModel)]="passwordinput"  required>
            </div>
            <div class="col-md-6 col-sm-6" *ngIf="this.show==1">
              <label >Confirm New Password</label>
              <input type="password" name="time" value="" class="form-control"   placeholder="confirm new password" [(ngModel)]="confirmpasswordinput"  (keyup)="confirmpassword()" required>
            </div>
           </div>
          <button type="submit" class="form-control" id="cf-submit" name="submit" style="width: 100px; margin-left: 520px;" *ngIf="showconfirm==1"  (click)="updatepassword()">Confirm</button>
        </form>
      </div>

    </div>
  </div>
</section>
