
<!-- NEWS DETAIL -->

<section id="news-detail" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-7">
        <!-- NEWS THUMB -->
        <div class="news-detail-thumb">
          <div class="news-image">
            <img src="assets/images/{{doctor.picture}}" class="img-responsive" alt="">
          </div>


          <h3> {{doctor.name}}
            <img  title="Account Verified" src="assets/images/Facebook-Logo-Verified-Badge-PNG.png" style="width: 40px; height: 40px;" *ngIf="doctor.verified==1">
        </h3>
          <p>{{doctor.address.street}} </p>
          <p>{{doctor.address.city}} {{doctor.address.zipcode}}</p>




          <ul>
            <li>  <i class="fa fa-phone"></i> {{doctor.phone}}</li>
            <li> <i class="fa fa-envelope-open"></i> {{doctor.email}}</li>

          </ul>
             <div class="news-social-share">
            <h4>Share this Doctor</h4>
            <div  class="btn btn-primary" [socialShare]="'fb'"><i class="fa fa-facebook" style="width: 50px" ></i></div>
            <div [socialShare]="'tw'" class="btn btn-success"><i class="fa fa-twitter" style="width: 50px"  ></i></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-5">
        <div class="news-sidebar">
          <div class="news-author">
            <h4>About Me</h4>
            <p>{{doctor.aboutme}}</p>
          </div>


          <div class="news-tags">
            <h4>Speciality</h4>
            <li><a href="#">{{doctor.speciality}}</a></li>
          </div>
        </div>
      </div>

    </div>
    <section id="news" data-stellar-background-ratio="2.5">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <!-- SECTION TITLE -->
            <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
              <h2>Recommended For You({{nombr}})</h2>
            </div>
          </div>
          <app-samespeciality [doctor]="doctor" (numberdoc)="nombre($event)"></app-samespeciality>

        </div>
      </div>
    </section>

  </div>


</section>


